.user-card {
    margin-bottom: 1.2rem;
    background-color: rgba(245, 172, 13, 0.1) !important;
}

.user-card .card-header {
    background-color: black !important;
}

.user-avatar {
    text-align: center;
}

.user-avatar img {
    width: 30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.625rem;
    float: left;
}

.user-data {
    color: black;
    display: block;
    padding-top: 1.2rem;
    padding-right: 80px;
    float: left;
}

.user-data h2 {
    margin-bottom: 0;
}

.user-nick {
    color: rgb(155, 133, 10) !important;
    font-weight: bold;
}

.user-status {
    min-height: 3rem;
}

.follow-buttons {
    margin-bottom: 0.8rem;
}

.badge {
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.stats {
    align-items: center;
    width: 200px;
    background-color: black;
    float: left;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border: 1px solid rgba(255, 255, 255, 0.247);
    border-radius: 10px;
    box-shadow: 0px 3px 4px 0px rgba(95, 93, 93, 0.61);
}

.seguidores {
    display: block;
    background-color: black;
    width: 200px;
    float: right;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border: 1px solid rgba(255, 255, 255, 0.247);
    border-radius: 10px;
    box-shadow: 0px 3px 4px 0px rgba(95, 93, 93, 0.61);
}

.stats:first-child {
    border-left: none;
}

.stats span {
    display: block;
    text-align: center;
}

.stats a {
    text-decoration: none;
    color: #fffc;
}

.publications {
    margin-top: 5rem;
}

hr.style4 {
    height: 1px;
    border: 0;
    box-shadow: 0 10px 10px -10px #e4e4e4 inset;
    margin-top: 2px;
}


/*******************
/*Feed
*******************/

.nav-link.active {
    color: #E5A145;
    font-weight: bold;
    font-size: 16px;
    margin-top: -15px;
    background: #fff;
}

.nav-link {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-top: -15px;
}

.publicacion {
    background: #F5F5F5;
    width: 423px;
}

.foto-publicacion {
    width: 348px;
    height: 201px;
    margin-left: -20px;
}

.nombre-aparador {
    margin-left: -55px;
    font-size: 14px;
    font-weight: bold;
    width: 160px;
    color: #000;
}

.distancia {
    font-size: 12px;
    color: #E5A145;
    margin-left: -55px;
    margin-top: -20px;
}

.uno {
    -o-object-fit: cover;
    object-fit: cover;
    margin: auto;
    width: 1400px;
    height: 300px;
    margin-left: -105px;
    margin-right: -105px;
}

@media screen and (max-width: 375px) {
    .publicacion {
        background: #F5F5F5;
        width: 223px;
    }
    .foto-publicacion {
        width: 258px;
        height: 150px;
    }
    .nombre-aparador {
        margin-left: -20px;
        font-size: 12px;
        font-weight: bold;
        width: 160px;
        color: #000;
    }
    .distancia {
        font-size: 12px;
        color: #E5A145;
        margin-left: -20px;
        margin-top: -15px;
    }
    .btn-movil {
        width: 90px;
        font-size: 11px;
    }
    .btn-movil-margin {
        margin-left: -25px;
    }
}

.estilo-modal {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    position: relative;
    margin-top: -30px;
    width: 575px;
    height: 1366px;
}