<div class="general-container">
    <div class="jumbotron">
        <h1 class="display-4">{{title}}</h1>
        <p class="lead">Descubre lugares y conoce tu alrededor</p>
        <hr class="my-4">
        <p *ngIf="identity"><strong>¡Comienza a explorar! ¡Bienvenido!</strong></p>

        <!-- Si estamos logueados -->
        <div class="row" *ngIf="identity && identity!=null">
            <div class="col-lg-4">
                <a [routerLink]="['/perfil', identity._id]">
                    <div class="card text-black bg-light mb-4">
                        <div class="card-header">
                            <h4>
                                <span class="fas fa-address-card"></span> Mi perfil
                            </h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Consulta tus estadísticas (número de publicaciones, usuarios a los que sigues y que te siguen)</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a [routerLink]="['/timeline']">
                    <div class="card text-white bg-warning mb-4">
                        <div class="card-header">
                            <h4>
                                <span class="fas fa-columns"></span> Timeline
                            </h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Actualizate en cuanto a las novedades que publican tus amigos</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a [routerLink]="['/gente']">
                    <div class="card text-white bg-dark mb-4">
                        <div class="card-header">
                            <h4>
                                <span class="fas fa-building"></span> Aparadores
                            </h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Conoce los aparadores</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-3">
				<a [routerLink]="['/mensajes']">
					<div class="card text-white bg-info mb-3">
						<div class="card-header">
							<h4>
								<span class="fas fa-envelope"></span> Mensajes
							</h4>
						</div>
						<div class="card-body">
							<p class="card-text">Por supuesto, que no falte un módulo de mensajería privada</p>
						</div>
					</div>
				</a>
			</div> -->
        </div>

        <!-- Si NO estamos logueados -->
        <div class="row justify-content-center" *ngIf="!identity || identity==null">
            <div class="col-lg-4">
                <a [routerLink]="['/register']">
                    <div class="card text-white bg-warning mb-4">
                        <div class="card-header">
                            <h4>
                                <span class="fas fa-user-plus"></span> Regístrarse
                            </h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">¡Forma parte de la comunidad Eseety!</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a [routerLink]="['/login']">
                    <div class="card text-white bg-success mb-4">
                        <div class="card-header">
                            <h4>
                                <span class="fas fa-sign-in-alt"></span> Iniciar sesión
                            </h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Inicia sesión</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>