.publication-card {
    margin-bottom: 20px;
    background-color: rgba(248, 248, 246, 0.973) !important;
    border-radius: 10px;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.2) !important;
}

.publication-card .card-header {
    background-color: rgba(247, 244, 235, 0.568) !important;
}

.card-header {
    margin-top: 2px;
}

.card-img {
    width: 100%;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    border-radius: 10px;
    cursor: pointer;
}

.no-image {
    filter: contrast(5) !important;
}

.follow-buttons {
    text-align: right;
}

.publication-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.publication-avatar img {
    width: 50px;
    height: 50px;
}

.publication-user {
    color: orangered;
    display: block;
}

.publication-user h3 {
    margin-bottom: 0px;
}

.publication-text {
    color: black;
}

.publication-my {
    border: 1px;
    border-color: grey;
    border-style: solid;
    box-shadow: 2px 0px 2px 2px rgba(247, 151, 7, 0.2);
    
}

.button-trash {
    border-radius: 6.25rem;
    height: 2.4375rem;
    margin-top: 0.3125rem;
}

.span-trash {
    margin-top: 5px;
}

.crop {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
}

.nav-link.active{
    color:#E5A145; font-weight: bold; font-size:16px; margin-top: -15px; background: #fff;
}
  
.nav-link {
  color:#000;
  font-weight: bold;
  font-size:16px;
  margin-top: -15px;
}

.publicacion{
  background:#F5F5F5;
  width: 423px;
}

.foto-publicacion{
width:348px;
height:201px;
margin-left: -20px;
}

.nombre-aparador{
margin-left:-55px;
font-size:14px;
font-weight:bold;
width:160px;
color:#000;
}

.distancia{
font-size:12px;
color:#E5A145;
margin-left:-55px;
margin-top: -20px;
}

.uno {
-o-object-fit: cover;
object-fit: cover;
margin: auto;
width:100vw;
height: 269px;
}

@media screen and (max-width: 375px) {

.publicacion{
background:#F5F5F5;
width: 223px;
}

.foto-publicacion{
width:258px;
height:150px;
}

.nombre-aparador{
margin-left:-20px;
font-size:12px;
font-weight:bold;
width:160px;
color:#000;
}

.distancia{
font-size:12px;
color:#E5A145;
margin-left:-20px;
margin-top: -15px;
}
  
.btn-movil{
width: 90px;
font-size:11px;
}

.btn-movil-margin{
margin-left:-25px;
}
}

hr.style4 {
height: 1px;
border: 0;
box-shadow: 0 10px 10px -10px #e4e4e4 inset;
margin-top: 2px;
}

.azul {
color:blue;
}

.verde {
color:green;
}
